  
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
  }

  header {
    background-color: #1C2120;
    color: white;
    padding: 1rem;
    text-align: center;
  }

  header img {
    height: 60px;
    vertical-align: middle;
  }

  nav {
    margin-top: 10px;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }

  .container {
      display: flex;
  flex-direction: column;
  align-items: flex-start; /* alinha tudo à esquerda */
  gap: 1rem; /* espaço entre os elementos */
  padding: 4rem;
  }


  .search-bar input {
    width: 180px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    
  }

  .cart-item {
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 5px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 15px;
    width: 300px;

  }

  .cart-item button {
    padding: 5px 10px;
    background-color: #1C2120;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }

  #addItem {
    padding: 10px 7px;
    background-color: #1C2120;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin: none;
  }

  #checkout {
    display: block;
    width: 180px;
    padding: 0.7rem;
    background-color: #1C2120;
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 20px;
  }

.footer {
background-color: #121616;
color: white;
padding: 0.rem;
font-family: Arial, sans-serif;
}

.footer-content {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.footer-col {
flex: 1;
margin: 2rem;
min-width: 200px;
align-items: center;
}

.footer-col h4 {
margin-bottom: 1rem;
font-size: 1rem;
align-items: center;
}

.textomeio{
display: flex;
justify-content: center;}

.footer-col ul {
list-style: none;
padding: 0;
display: flex;
flex-direction: column; 
gap: 1.2rem; 
align-items: center; 
}

.footer-col ul li a {
color: white;
text-decoration: none;
font-size: 1rem;
}

.footer-col a {
font-size: 1rem;
}

.MCtext{
font-size: 1.6rem;

}

.social-icons img {
width: 24px;
margin-right: 25px;
margin-top: 2px;
}

/* Logo centralizada */
.logo{
width: 120px;
margin-bottom: 1rem;
}

hr {
margin: 1rem 0 1rem;
border: 1px solid #fff;
}

.footer-bottom {
display: flex;
justify-content: space-between;
align-items: center;
padding: 2px;
}

.footer-bottom p {
font-size: 1rem;
margin: 50px;
}

.payment-icons img {
height: 150px;
margin-left: 10px;
}

