@import url(
'https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

a {
  color: #000;
  text-decoration: none;
}

.linha {
            border: none;
            border-bottom: 5px solid black;
            outline: none;
            padding: 5px;
            width: 120px;
        }

        .grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            text-align: center;
        }

        .grid-item {
            flex: 1 1 300px;
        }

        .banner, .section-title, .subtitulo {
            text-align: center;

              animation: glowIn 1.5s ease-out;
              
        }

@keyframes glowIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
    text-shadow: none;
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
    text-shadow: 0 0 10px rgba(255, 105, 180, 0.6);
  }
  100% {
    transform: scale(1);
    text-shadow: 0 0 5px rgba(255, 105, 180, 0.4);
  }
}


.grid-itembr{
  transition: transform 0.3s ease;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  
}

.grid-itembr:hover{
  transform: scale(1.02);
}


body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #FDFEFF);
  display: flex;
  flex-direction: column;
  align-items: center;
}


header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  gap: 20px;
  border-bottom: 1px solid;
  font-weight: bold;
}

#marimaria img{
  width: 70px;
  height: 70px;
}

.sobreheader {
  background-color: #1C2120;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  padding: 0px;
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  text-decoration: underline;
}

h1, h3 {
  text-align: center;
  font-weight: normal;
  margin: 3px 0;
  

}



.linha {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 4px;
  width: 150px;
}


.logo {
  display: block;
  margin: 0 auto;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  text-align: center;
  padding: 20px;
}

.grid-item {
  flex: 1 1 300px;
  max-width: 300px;
}

.grid-item img {
  width: 100%;
  max-width: 300px;
  height: auto;
  transition: transform 0.3s ease;
  border-radius: 20px;
  box-shadow: 2px 5px 15px #000;
}

.grid-item img:hover {
  transform: scale(1.01);
}


.banner {
  width: 100%;
  max-width: 1800px;
  margin: 20px 0;
}


.banner img {
  transition: 1s;
  border-radius: 20px;
}

.banner img:hover{
  transform: scale(1.01);
}

footer {
  background-color: #1c2120;
  color: white;
  font-family: sans-serif;
  padding: 60px 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
}


footer ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer2 {
  text-align: center;
}

.fontby {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.linha-branca {
  height: 2px;
  background: #fff;
  margin: 20px 0;
  border: none;
}


button {
  background-color: #1c2120;
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}


footer img {
  margin: 5px;
}


@media screen and (max-width: 768px) {
  .grid {
    flex-direction: column;
    align-items: center;
  }

  header {
    flex-direction: column;
  }
}

